# Output Directories #
build/
dist/
docs/
src/core/.ng_pkg_build
target/

.classpath
.settings/

/.ng_build
/.temp
/tmp

.vscode

# Dependency directory #
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Optional npm cache directory #
.npm
npm
npm-debug.log

# IDE Directories #
.idea
!.idea/codeStyleSettings.xml
!.idea/ngx-material-keyboard.iml

# External tool builders #
.externalToolBuilders/

# Locally stored "Eclipse launch configurations" #
*.launch

# OS Files #
.DS_Store

# Misc #
*~
