# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/.packagr-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn.lock

#System Files
.DS_Store
Thumbs.db
