@import '~@angular/material/theming';

$mat-typography-config: mat-typography-config();
$mat-keyboard-button-distance: 8px !default;

:host {
  display: flex;
  font: {
    family: mat-font-family($mat-typography-config);
    size: mat-font-size($mat-typography-config, button);
  }
  justify-content: space-between;
  //color: white;
  line-height: 20px;
}

.mat-keyboard {
  &-key {
    min-width: 0;
    width: 100%;

    &-active {
      background-color: mat-color($mat-grey, 300);
    }
  }

  :host-context(.dark-theme) &-key {
    background-color: mat-color($mat-grey, 700);
    color: mat-color($mat-grey, 100);

    &-active {
      background-color: mat-color($mat-grey, 500);
    }
  }

  // sass-lint:disable no-color-keywords no-color-literals
  :host-context(.debug) &-key {
    &-deadkey {
      background-color: cadetblue;
    }

    &-modifier {
      background-color: aquamarine;
    }
  }

  :host-context(.dark-theme.debug) &-key {
    &-deadkey {
      background-color: rebeccapurple;
    }

    &-modifier {
      background-color: mediumpurple;
    }
  }
}
