<nav class="mat-keyboard__layout">
  <div
    class="mat-keyboard__row"
    *ngFor="let row of layout.keys"
  >
    <div
      class="mat-keyboard__col"
      *ngFor="let key of row"
    >
      <button
        md-raised-button
        class="mat-keyboard__key"
        [ngClass]="getClass(key[0])"
        (mousedown)="mousedown($event)"
        (click)="click($event, key[0])"
      >
        <md-icon *ngIf="hasIcon(key[0])">{{getIcon(key[0])}}</md-icon>
        <ng-container *ngIf="!hasIcon(key[0])">{{key[0]}}</ng-container>
      </button>
    </div>
  </div>
</nav>

<button
  md-icon-button
  class="mat-keyboard__action"
  *ngIf="hasAction"
  (click)="dismiss()"
>
  <md-icon>close</md-icon>
</button>
