@import '~material2-srcs/src/lib/core/style/variables';
@import '~material2-srcs/src/lib/core/style/button-common';
@import '~material2-srcs/src/lib/core/style/list-common';
@import '~@angular/material/theming';

$mat-keyboard-button-padding: 8px !default;
$mat-keyboard-button-margin: 48px !default;

:host {
  display: flex;
  font: {
    family: $mat-font-family;
    size: $mat-body-font-size-base;
  }
  justify-content: space-between;
  //color: white;
  line-height: 20px;
}

.mat-keyboard {
  &__action {
    @include mat-button-reset;
    background: none;
    color: inherit;
    flex-shrink: 0;
    font: {
      family: inherit;
      size: inherit;
      weight: 600;
    }
    line-height: 1;
    margin-left: $mat-keyboard-button-margin;
    text-transform: uppercase;
  }

  &__layout {
    width: 100%;
  }

  &__row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__col {
    box-sizing: border-box;
    flex: 1 1 auto;
    padding: $mat-keyboard-button-padding / 2;
  }

  &__key {
    min-width: 0;
    width: 100%;
  }

  /deep/ &.dark-theme &__key {
    background-color: mat-color($mat-grey, 700);
    color: mat-color($mat-grey, 100);
  }

  /deep/ &.debug &__key {
    &--deadkey {
      background-color: cadetblue;
    }

    &--modifier {
      background-color: aquamarine;
    }
  }

  /deep/ &.debug.dark-theme &__key {
    &--deadkey {
      background-color: rebeccapurple;
    }

    &--modifier {
      background-color: mediumpurple;
    }
  }
}
