@import '~material2-srcs/src/lib/core/style/elevation';
@import '~material2-srcs/src/lib/core/a11y/a11y';

$mat-keyboard-padding: 14px 24px !default;
$mat-keyboard-min-width: 568px !default;
$mat-keyboard-max-width: 100% !default;

:host {
  @include mat-elevation(6);
  background: #323232;
  border-radius: 2px;
  box-sizing: content-box;
  display: block;
  max-width: $mat-keyboard-max-width;
  min-width: $mat-keyboard-min-width;
  padding: $mat-keyboard-padding;
  // Initial transformation is applied to start keyboard out of view.
  transform: translateY(100%);

  @include cdk-high-contrast {
    border: solid 1px;
  }
}
